<html><head><style>p {
    text-align: center;
    color: red;
}

#para1 {
    text-align: right;
    color: rgb(102, 0, 128);
}

.center {
    text-align: left;
    color: yellowgreen;
}

h3,
h1,
p {
    text-align: center;
    color: rebeccapurple;
}

body {
    background-color: rgb(173, 135, 235);
}

h1 {
    background-color: yellow;
}

background-image- body {
    background-image: url("99.jpg");
}

</style></head>